@import url("../../index.css");

.result-container {
  /* display: flex;
  flex-direction: column; */
  position: relative;
}

.result-header {
  margin: 5vh auto;
  color: black;
  /* background-color: var(--background-color-1); */
  max-width: 300px;
  border-radius: 10px;
  padding: 5px;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: white;
}

.result-list {
  margin-top: 10vh;
  display: flex;
  gap: 5vw;
  justify-content: center;
}

.result-list-rank {
  display: flex;
  flex-direction: column;
}

.result-list-rank_item {
  background-color: var(--background-color-1);
  border-radius: 50%;
  padding: 10px 16px;
  margin-top: 10px;
  text-align: center;
}

.result-list-name_item {
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--background-color-1);
  /* max-width: 400px; */
  width: 400px;
  text-align: center;
  padding: 10px;
}

.result-button-next {
  background-color: var(--background-color-1);
  padding: 10px;
  border: none;
  border-radius: 10px;
  max-width: 200px;
  width: 100px;
  /* margin-top: 10vh; */
  font-weight: 900;
  position: absolute;
  top: 150%;
  transform: translateX(45vw);
}

.result-button-next:hover {
  background-color: antiquewhite;
}
