@import url('../../index.css');

.joingame-title,
.joingame-box {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.joingame-title {
  margin: 15% 0 5vh 0;
  font-weight: 700;
  font-size: 50px;
  color: var(--title-color-2);
}

.joingame-box {
  border-radius: 10px;
  background-color: white;
  max-width: 350px;
  height: auto;
  box-shadow: 2px 4px RGBA(191, 191, 200, 0.45);
  /* margin: 0 auto; */
}

.joingame-box_enter,
.joingame-box_input {
  margin: 0 auto;
  padding: 1vh 0 1vh 0;
  width: 200px;
  border-radius: 5px;
  border-color: var(--box-border-color);
}

.joingame-box_input {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.joingame-box_enter {
  background-color: var(--button-color-1);
  /* border-radius: 3px; */
  margin: 0 auto;
}